@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap');

:root{
    --color-fondo: #0D0D0D;
    --color-fondo2: #262626;
    --color-fondo3: #81858C;
    --color-fondo3: #D9D7D7;
    --color-letras: #F2F2F2;
    --fuente: 'Poppins', sans-serif;
}

*{
    font-family: var(--fuente);
    color: var(--color-letras);
}

.nav-link{
    font-size: 1.3rem;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.main__index{
    width: 100vw;
    height: 180vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main__education{
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer{
    height: 100px;
    padding: 40px;
    font-size: 8px;
    text-align: center;
}