@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap");
:root {
  --bootstrap-dark:#212529;
  --color-fondo: #0D0D0D;
  --color-fondo2: #81858C;
  --color-fondo3: #D9D7D7;
  --color-letras: #F2F2F2;
  --fuente: "Poppins", sans-serif;
}

* {
  font-family: var(--fuente);
  color: var(--color-letras);
}

body {
  background-color: var(--bootstrap-dark);
}

.navbar {
  padding: 0;
  background-color: var(--color-fondo);
}
.navbar .nav__container .navbar-brand {
  background-color: var(--color-letras);
  color: var(--color-fondo);
  font-weight: bold;
  line-height: 100px;
  padding: 0 20px;
}
.navbar .nav__container .navbar-brand:hover {
  background-color: var(--color-fondo2);
  color: var(--color-letras);
}
.navbar .nav__container .nav-item .nav-link {
  height: 100%;
  line-height: 100px;
  padding: 0 20px;
  font-size: 1.3rem;
}
.navbar .nav__container .nav-item .nav-link:hover {
  background-color: var(--color-fondo2);
}

main {
  width: 100%;
}
main .card {
  margin: 0 auto;
  border-radius: 0;
  border: 0;
}
main .btn-light {
  width: 100%;
  background-color: var(--color-letras);
  font-weight: bold;
}
main .btn-light:hover {
  background-color: var(--color-fondo2);
  border: none;
  color: var(--color-letras);
}
main .main__index {
  height: 180vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
main .main__education {
  margin-top: 6rem;
}
main .main__education .card {
  width: 20rem;
  height: 28rem;
  margin-bottom: 15px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
main .main__education .card img {
  padding: 10%;
  height: 8.5rem;
}
main .main__education .card .card-content {
  height: 11.5rem;
}
main .main__education .card .card-title {
  height: 2rem;
}
main .main__projects {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main .main__projects .card {
  max-width: 85%;
}
main .main__projects .card .row .contenedor-image {
  margin-top: auto;
  margin-bottom: auto;
}
main .main__prints {
  padding-left: 6%;
  padding-top: 3%;
  margin-left: auto;
  margin-right: auto;
}
main .main__prints .print__img__container .img__print {
  width: 30%;
  background-size: cover;
  padding: 1% 1% 0;
}
main .main__contact {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
main .main__contact .contact__title {
  font-size: 3rem;
  text-align: center;
}
main .main__contact div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
main .main__contact div .contact__button {
  text-decoration: none;
  background-color: var(--color-fondo3);
  margin-top: 1rem;
  padding: 10px;
  border-radius: 3px;
  font-weight: bold;
  color: var(--color-fondo);
}
main .main__contact div .contact__button:hover {
  background-color: var(--color-fondo2);
  color: var(--color-letras);
}
main .main__contact div .contact__form__section form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}
main .main__contact div .contact__form__section form .input_padron, main .main__contact div .contact__form__section form option {
  color: var(--color-fondo);
}
main .main__contact div .contact__media__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .main__contact div .contact__media__section .media__title {
  font-size: 2.8rem;
}
main .main__contact div .contact__media__section .media__links {
  font-size: 3rem;
  gap: 2rem;
}

.footer {
  height: 100px;
  padding: 40px;
  font-size: 8px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
