.main__contact{
    min-height: 100vh;
    @include flex(flex, column, space-evenly, center);
    .contact__title{
        font-size: 3rem;
        text-align: center;
    }
    .container{
        @include flex(flex, row, space-evenly, center);
        .contact__form__section{
            form{
                .input_padron, option{
                    color: map-get($colors, color-fondo);
                }
                @include flex(flex, column, center, normal);
                width: 80%;
            }
        }
        .contact__media__section{
            @include flex(flex, column, space-evenly, center);
            .media__title{
                font-size: 2.8rem;
            }
            .media__links{
                font-size: 3rem;
                gap: 2rem;
            }
        }
    }
}