.main__contact{
    min-height: 90vh;
    @include flex(flex, column, space-evenly, center);
    .contact__title{
        font-size: 3rem;
        text-align: center;
    }
    .contenedor{
        width: 80%;
        @include flex(flex, row, space-around, center);
        .contact__form__section{
            min-width: 40%;
            form{
                .input_padron, option{
                    color: map-get($colors, color-fondo);
                }
                @include flex(flex, column, center, normal);
            }
        }
        .contact__media__section{
            @include flex(flex, column, space-evenly, center);
            .media__title{
                font-size: 2.8rem;
            }
            .media__links{
                .media__link{
                    padding: 5px;
                    font-size: 3rem;
                }
            }
        }
    }
}

