.main__index{
    height: 180vh;
    .main__index__tite{
        height: 90vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.5)), url("../img/about/img5.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        .main__index__tite__text{
            text-align: start;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .main__index__about{
        height: 90vh;
        @include flex(flex, column, center, center);
        .main__index__about__text{
            width: 75%;
            h3{
                font-size: 1.3rem;
                margin-top: 15px;
            }
        }
    }
    
}