.main__prints{
    padding-left:6%;
    padding-top: 3%;
    margin-left: auto;
    margin-right: auto;
    .print__img__container{
        .img__print{
            width: 30%;
            background-size: cover;
            padding: 1% 1% 0;
        }
    }
}