.main__projects{
    min-height: 95vh;
    @include flex(flex, column, space-around, normal);
    .card{
        max-width: 85%;
        margin-top: 8rem;
        .row{
            .contenedor-image{
                margin-top: auto;
                margin-bottom: auto;
            }
        }
    }
}